@use './scss/helpers.scss' as *;

:root {
  --main-color: #9b319d;
  --text-one: #141c3a;
  --text-two: #f0f8ff;
  --section-padding: 50px;
  --section-bg-color: #fafafa;
}

.landing {
  nav {
    & {
      position: sticky;
      top: 0;
      left: 0;
    }
    .logo {
      & {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 23px;
        text-indent: -10px;
        color: var(--main-color);
      }
      img {
        width: 50px;
        height: 50px;
      }
    }
    .nav {
      & {
        width: fit-content;
        margin-left: auto;
        gap: 20px;
      }
      .nav-link {
        color: var(--text-one);
        text-transform: capitalize;
        font-weight: 500;
        font-size: 18px;
        &:hover {
          color: var(--main-color) !important;
        }
      }
    }
  }
  // end nav
  // start landing start
  .start {
    & {
      padding: var(--section-padding) 0px;
    }
    .start-container {
      & {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .content {
        & {
          flex-basis: 45%;
          margin-top: -200px;
        }
        .social {
          & {
            margin-bottom: 20px;
          }
          a {
            & {
              margin-right: 10px;
              color: var(--text-one);
            }
            i {
              color: var(--main-color);
            }
          }
        }
        .info {
          & {
            color: var(--text-one);
            font-weight: 600;
            font-size: 30px;
          }
          .name {
            color: var(--main-color);
            font-weight: 800;
            font-size: 45px;
          }
        }
        .about {
          color: var(--text-one);
          font-size: 18px;
          font-weight: 300;
          width: 500px;
        }
        button {
          border: none;
          background-color: var(--main-color);
          padding: 15px 20px;
          border-radius: 30px;
          color: white;
        }
      }
      .computer {
        flex-basis: 50%;
      }
    }
  }
}
